# {# pkglts, github
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# pkglts files
.pkglts/info.log*

# Packages
*.egg
*.egg-info
.eggs
.Python
*.pth
dist/
build/
env/
downloads/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# editors
.idea/

# Vim files
*.swp
*.*~

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.settings


# C extensions
*.so
*.dll
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Object files
*.os

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
.amlog
.sconsign.dblite

# Translations
*.mo
*.pot

# Django stuff:
*.log

# PyBuilder
target/

# jupyter notebooks
.ipynb_checkpoints/

# svn
.svn



# #}

# user custom filters
example/potted_grapevine/output/
example/vsp_ww_grapevine/output/
example/vsp_ws_grapevine/output/
example/gdc_can1_grapevine/output/
example/gdc_can2_grapevine/output/
example/gdc_can3_grapevine/output/
example/modularity/ww/sim_1/output/
example/modularity/ww/sim_2/output/
example/modularity/ww/sim_3/output/
example/modularity/ww/sim_4/output/
example/modularity/ws/sim_1/output/
example/modularity/ws/sim_2/output/
example/modularity/ws/sim_3/output/
example/modularity/ws/sim_4/output/
example/virtual_canopies/gdc/output/
example/virtual_canopies/vsp/output/
example/virtual_canopies/lyre/output/

